//  colors
$gradient-orange-color: linear-gradient(90deg, #eb7a2e 0%, #b92b2d 100%);
$gradient-blue-color: linear-gradient(90deg, #0badc5 0%, #135d77 100%);
$gradient-green-color: linear-gradient(90deg, #73cd5b 0%, #419b28 100%);
$main-orange-color : #ba2b2d;





